<h2>{{toon.name}}</h2>
<a href="/">Home</a><br>
<a href="/{{toon.id}}/edit">Edit this Cartoon</a><br>
<a href="/{{toon.id}}/delete">Delete this Cartoon</a><br>
<img src="{{toon.image}}" alt="toon" />
<div>
  Network: {{toon.network}}
</div>
