<form action="/{{toon.id}}/edit" method="post">
  <input type="text" name="name" placeholder="Name" value="{{toon.name}}"><br>
  <input type="number" name="year" placeholder="Year" value="{{toon.year}}"><br>
  <input type="text" name="network" placeholder="Network" value="{{toon.network}}"><br>
  <input type="url" name="image" placeholder="Image URL" value="{{toon.image}}"><br>
  <button type="submit">Edit this Cartoon!</button>
</form>
<a href="/">Go Home you silly rabbit!</a>
